@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Passions+Conflict&family=Poltawski+Nowy:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
.passions-conflict-regular {
    font-family: "Passions Conflict", cursive;
    font-weight: 400;
    font-style: normal;
  }

.parisienne-regular {
    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-style: normal;
}

.poltawski-nowy-font {
    font-family: "Poltawski Nowy", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
.pirata-one-regular {
  font-family: "Pirata One", system-ui;
  font-weight: 400;
  font-style: normal;
}
  


:root {
  --nav-background: #5b124c7e;
  --nav-text: #E7C579;
  --main-text: #D2A255;
  --sidebar-color: #3B1434;
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

#sun, #moon, #asc {
  animation: float 2s ease-in-out infinite;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-40px); }
  to   { opacity: 1; transform: translateY(0); }
}


@keyframes glow {
  0% {
    box-shadow: 0 0 5px #D2A255, 0 0 10px #D2A255, 0 0 15px #D2A255;
  }
  50% {
    box-shadow: 0 0 20px #E7C579, 0 0 30px #E7C579, 0 0 40px #E7C579;
  }
  100% {
    box-shadow: 0 0 5px #D2A255, 0 0 10px #D2A255, 0 0 15px #D2A255;
  }
}


body{
    background-image: url(images/pexels-free-nature-stock-974471.jpg);
    background-size:cover;
    background-attachment: fixed;
    overflow-x: hidden;
}



.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}



nav {
  font-family: "Passions Conflict", cursive;
  background-color: var(--nav-background);
  color: var(--nav-text);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 120px;
  position: relative;
  overflow: visible;
}

.burger{
  top: 30px;
  left: 30px;
  display: none;
  font-size: 3rem;
  cursor: pointer;
  color: var(--nav-text);
  position: fixed;
  z-index: 3000;  
}
  
.logo {
  font-size: 7rem;
  margin-left: 30px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li {
  font-size: 4rem;
  cursor: pointer;
}
  
.card-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; 
  flex-direction: row; 
  padding: 15px;
  margin-top: 60px;
  position: relative;
}



.card-wrapper {
  perspective: 1000px;
  width: 250px;
  height: 400px;
  position: relative;
  transition: transform 0.3s ease;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s ease; 
  
}

.card-inner.flipped {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 12px;
  overflow: hidden;
}

.card-front img,
.card-back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-back {
  transform: rotateY(180deg);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.card-text {
  position: absolute;
  color: #E7C579;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  font-size: 1rem;
  font-family: "Poltawski Nowy", serif;
  text-align: center;
  width: 100%;
  max-height: 100%;         
  overflow-y: auto;          
  box-sizing: border-box;
  white-space: normal;
  border-radius: 6px;  
  top: 50%;
  transform: translateY(-50%);
}


main h1 {
  font-family: "Parisienne", cursive;
  font-size: 4.5rem;
  color: var(--main-text);
  text-align: center;
  margin-top: 40px;
  transition: transform 0.3s ease;
  margin-right: 20px;
  margin-left: 20px;
  line-height: 90px;
  animation: fadeIn 1.5s ease forwards;
}
.astro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  gap: 50px;
  margin-top: 50px;
}
.astrology{
  font-family: "Poltawski Nowy", serif;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.astrology h2 {
  font-size: 3.5rem;
  color: var(--main-text);
  text-align: center;
  margin: 50px;
  
}

.astrology p {
  font-size: 2rem;
  color: white;
  text-align: center;
  line-height: 50px;
  margin-bottom: 20px;
  
}

.startbtn {
  padding: 10px 20px;
  font-size: 1.5rem;
  font-family: "Poltawski Nowy", serif;
  background-color: var(--main-text);
  color: white;
  border: none;
  cursor: pointer;
  width: 160px;
  border-radius: 10px;
  align-self: center;
  margin-top: 50px;
  animation: glow 2s infinite ease-in-out;
}

.astro img {
  flex: 1;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.zodiac-signs {
  font-family: "Poltawski Nowy", serif;
  font-size: 1.7rem;
  color: white;
  display: flex;
  align-items: flex-start;
  text-align: center;
  justify-content: space-between;
  margin: 30px;
  line-height: 40px;
  
}

.zodiac-signs > div {
  flex: 1;
  min-width: 250px; 
  max-width: 600px;
  text-align: center;
  
}




#asc {
  height: 300px;
  width: 330px;
  margin-bottom: 30px;  
}



.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:  var(--sidebar-color);
  background-size: cover;
  display: flex;
  flex-direction: column;
  transform: translateX(-100%);
  transition: transform 0.4s ease;
  z-index: 2000;
  overflow: hidden;
}
.sidebar.active {
  transform: translateX(0);
}

  
.nav-links1 {
  list-style: none;
  width: 100%;
  font-family: "Passions Conflict", cursive;
  margin-top: 10px;
}

.nav-links1 li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 25px;
}

.nav-links1 li div{
  font-size: 4rem;
  color: var(--nav-text);
  margin: 10px;
  justify-content: flex-start;
  gap: 20px;
}
  
.icon {
  font-size: 1.5rem;
}

.arrow {
  justify-content: right;
}


.wheel {
  transition: transform 0.03s linear;
  will-change: transform;
}



.hidden {
  display: none !important;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3000;
}

.modal-content {
  background-color: var(--sidebar-color);
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  font-family: "Poltawski Nowy", serif;
  color: var(--main-text);
  width: auto;
  font-size: 2rem;
}
.choice{
  color: white;
  font-size: 1.5rem;
  margin-top: 10px;
  
}


.modal-buttons button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--main-text);
  color: white;
  font-family: "Poltawski Nowy", serif;
  width: 170px;
  margin-top: 10px;
}


.zodiacs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-auto-flow: column;
  gap: 10px;
  margin: 0 auto;
  .selected {
    border: var(--main-text) solid 1px;
  }
}

.aries,
.taurus, 
.gemini,
.cancer,
.leo,
.virgo,
.libra,
.scorpio,
.sagittarius,
.capricorn,
.aquarius,
.pisces {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  font-size: 3rem;
  font-family: "Pirata One", system-ui;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  transition: transform 0.2s ease;
}

.aries:hover,
.taurus:hover, 
.gemini:hover,
.cancer:hover,
.leo:hover,
.virgo:hover,
.libra:hover,
.scorpio:hover,
.sagittarius:hover,
.capricorn:hover,
.aquarius:hover,
.pisces:hover {
  transform: scale(1.05);
}

.aries img,
.taurus img, 
.gemini img,
.cancer img,
.leo img,
.virgo img,
.libra img,
.scorpio img,
.sagittarius img,
.capricorn img,
.aquarius img,
.pisces img {
  width: 100px;
  height: 100px;
}

/* .aries span,
.taurus span, 
.gemini span,
.cancer span,
.leo span,
.virgo span,
.libra span,
.scorpio span,
.sagittarius span,
.capricorn span,
.aquarius span,
.pisces span {
  text-transform: capitalize;
  color: var(--main-text); 
} */


  

@media (max-width: 768px) {

  nav {
    flex-direction: column;
    align-items: center;
    height: auto;
    /* padding: 20px; */
    overflow: visible;


  }
  .logo1 {
    font-family: "Passions Conflict", cursive;
    font-size: 7rem;
    color: var(--nav-text);
    text-align: center;
  }

  
  .burger{
    display: block;
      }
  
  .nav-links {
    display: none;
    
  }
  
  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    padding: 10px 0;
    font-size: 1.4rem;
  }
    
  .card-wrapper {
    position: absolute;
    width: 150px;
    height: 250px;
  }

  #card1-wrapper {
    left: 15%;
    transform: rotate(-45deg);

  }

  #card2-wrapper {
    left: 50%;
    transform: translateX(-50%) rotate(0deg);
    top: 15px;
  }

  #card3-wrapper {
    right: 15%;
    transform: rotate(45deg);
  }
  .astro {
    flex-direction: column;
    text-align: center;
    padding: 20px;
    margin-top: 0px;
  }

  .astrology {
    align-items: center;
  }

  .astrology h2 {
    font-size: 1.8rem;
  }
  .astrology p {
    font-size: 1.1rem;
    line-height: 40px;
    margin-right: 15px;
    margin-left: 15px;


  }
    
  .startbtn {
    margin-top: 10px;
    width: 120px;
    font-size: 20px;
    padding: 5px;

  }

  .zodiac-signs {
    flex-direction: column;
    align-items: center;
  }

  .zodiac-signs > div {
    max-width: 90%;
    font-size: 1.1rem;
    line-height: 40px;
  }

  .zodiacs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 5px;
  }


  .modal-content {
    padding: 10px;
    width: 90%;
    height: auto;
    font-size: 1.2rem;
  }
  .choice{
    font-size: 1rem;
    margin-top: 10px;
    
  }
  .modal-buttons {
    margin-bottom: 10px;

  }

  .modal-buttons button {
    font-size: 0.9rem;
    width: 90px;
  }

  .aries img,
  .taurus img, 
  .gemini img,
  .cancer img,
  .leo img,
  .virgo img,
  .libra img,
  .scorpio img,
  .sagittarius img,
  .capricorn img,
  .aquarius img,
  .pisces img {
    width: 50px;
    height: 50px;
  }
  .aries,
  .taurus, 
  .gemini,
  .cancer,
  .leo,
  .virgo,
  .libra,
  .scorpio,
  .sagittarius,
  .capricorn,
  .aquarius,
  .pisces {
    font-size: 1.8rem;
  }

  .card-holder {
    height: 360px;
  }
   
}


.nav-links li:hover, .nav-links1 li:hover div {
  color: white;
  transition: 0.5s ease;
}

#next-btn:hover, #cancel-btn:hover{
  color: var(--main-text);
  background-color: white;
  transition: 0.5s ease;
}


